body {
  background-image: url(assets/fundo.jpg);
}

header {
  margin-top: 100px;
  text-align: center;
}

h1 { 
  font-family: 'Roboto', sans-serif;
  color: #FAF9F6;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 35px;
}

h2 { 
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #FAF9F6;
}

.avaliacao img {
  width: 50px;
  margin: 10px 10px 0 0;
}

.avaliacao img:hover {
  transform: rotate(45deg) scale(1.30);
}

.logo img {
  width: 120px;
}

main {
  text-align: center;
}