main{ 
  text-align: center;
  margin-top: 50px;
}

.star{
  color: rgb(255, 166, 0);
  border-color: black;
  font-size: 2.0rem;
  padding: 0 1rem; /* espaço entre estrelas */
}
.star::before{
  content: '\2606';    /* estrela desmarcada */
  cursor: pointer;
}
.star.rated::before{
  content: '\2605';  /* estrela marcada */
}

/*https://www.toptal.com/designers/htmlarrows/symbols/black-star/


























/*
.stars{
    counter-reset: rateme 0;   
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
}
  */